MCP_PORT=5001
MCP_HOST='127.0.0.1'


DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
GROQ_AI_API_KEY=

JWT_ACCESS_TOKEN_SECRET=hrhaergergaerherher
JWT_REFRESH_TOKEN_SECRET=dhdfhdfhsdfhahre
